%li
  %h3
    .datetime
      On
      = format_datetime(clipping.clipped_at)
    .location-metadata
      - if clipping.zero_location?
        %span.is_pdf PDF
      - else
        - if clipping.single_location?
          Location:
        - else
          Locations:
        = clipping.location_string
        - if local_assigns[:show_book]
          - if clipping.instapaper? && clipping.instapaper_reference
            (#{link_to clipping.instapaper_reference.title, clipping.instapaper_reference.url} via #{link_to "Instapaper", [clipping.book.author, clipping.book]})
          - else
            (#{link_to clipping.book.display_name, [clipping.book.author, clipping.book]} by #{link_to clipping.book.author.name, clipping.book.author})
    =cleardiv
  %blockquote= clipping.content
  - if clipping.note
    .note= clipping.note.content
  - if clipping.instapaper?
    = render :partial => "clippings/instapaper_reference", :locals => {:clipping => clipping}
