.instapaper
  - if clipping.instapaper_reference
    %p.show_reference
      %b From:
      = link_to clipping.instapaper_reference.title, clipping.instapaper_reference.url
      = link_to "(edit)", new_book_clipping_instapaper_reference_path(clipping.book, clipping), :class => "toggle_instapaper_form"
  - else
    %p.find_reference
      = link_to "Find reference", new_book_clipping_instapaper_reference_path(clipping.book,clipping), :class => "find_instapaper_reference"
      = image_tag("spinner.gif", :class=>"instapaper_spinner")
  .instapaper_form
    = form_for clipping.instapaper_reference || InstapaperReference.new, :url => book_clipping_instapaper_reference_path(clipping.book, clipping) do |f|
      %p
        = label_tag :url, "URL: "
        = text_field :instapaper_reference, :url, :id => "url_field_#{clipping.id}"
        = label_tag :title, "Title: "
        = text_field :instapaper_reference, :title, :id => "title_field_#{clipping.id}"
        = submit_tag "Save", :class => "instapaper_submit"
        = link_to "Cancel", "#", :class => "cancel_instapaper_ref_form"
        = link_to "Delete", book_clipping_instapaper_reference_path(clipping.book, clipping), :method => :delete, :class => "delete_reference"
