%li{:class => cycle("odd", "even")}
  .row
    .details.span8
      %h3= link_to book.display_name, [book.author, book]
      %h4= book.author.name
    .clippings-count.span4
      %span= book.clippings.size
      = book.clippings.size == 1 ? "clipping" : "clippings"
    .notes-count.span4
      %span=book.notes.size
      = book.notes.size == 1 ? "note" : "notes"
