%h1
  = @book.title
  (#{link_to @book.author.name, @book.author})

- @book.clippings_and_notes.each do |item|
  %li
    - if item.is_a? Note
      Location:
      = item.location
      
      .content
        %i= item.content
    - else
      Locations:
      = item.location_string
      .datetime= item.clipped_at
      .content= item.content