%h1
  = @book.title
  (#{link_to @book.author.name, @book.author})

- @book.clippings.each do |clipping|
  %li
    Locations:
    = clipping.location_string
    .datetime= clipping.clipped_at
    .content= clipping.content
    - if clipping.note
      .note
        %i= clipping.note.content