- content_for :title do
  = @book.title
  (#{link_to @book.author.name, @book.author})

%p.right= link_to "Export clippings as XML", book_path(@book, :format => :xml)
= cleardiv

%ul.clippings
  = render :partial => "clippings/clipping", :collection => @book.clippings
