= content_for :title_element do
  Export : 

= content_for :title do 
  Export clippings

%p= link_to "Export all clippings", download_export_path

%h2 Export clippings by date range

- form_tag "/export/download", :method => :get do
  .clearfix
    %label Start Date
    .input
      = date_select("start_date", nil)

  .clearfix
    %label End Date
    .input
      = date_select("end_date", nil)

  .actions
    = submit_tag "Export", :class => "btn primary"
