= content_for :title_element do
  Export : 

= content_for :title do 
  Export clippings

%p= link_to "Export all clippings", download_export_path

%h2 Export clippings by date range

= form_tag "/export/download", :method => :get do
  .clearfix
    %label Start Date
    .input
      = date_select("start_date", nil)

  .clearfix
    %label End Date
    .input
      = date_select("end_date", nil)

  .actions
    = submit_tag "Export", :class => "btn primary"

%h2 HTML template for clipping export

= form_tag "/export/update_html_settings" do
  .clearfix
    %label Single clipping format
    .input
      = text_area_tag "template", @html_template, :class => "xxlarge", :rows => 5
      %span.help-block
        Substitution variables:
        %code $quote
        %code $locations
        %code $note
        %br
        You can wrap conditional content for notes in 
        %code $ifnote
        and
        %code $endifnote
  .clearfix
    %label Book title/author format
    .input
      = text_area_tag "title_template", @title_template, :class => "xxlarge"
      %span.help-block
        Substitution variables
        %code $title
        %code $author

        
  .actions
    = submit_tag "Update", :class => "btn primary"
