!!!
%html
  %head
    %title
      = yield :title_element
      Clippr
    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tag
  %body
    = render "layouts/topbar"
    .container.main
      #flash
        - flash.each do |key, value|
          %div{:class => "alert-message #{key}"}= value
      %h1= yield :title
      = yield
      = render "layouts/modal_file_dialog"
      = cleardiv

